.uuid
.HA_VERSION
secrets.yaml
known_devices.yaml
*.log
*.db*
*.conf
*.pyc
config/component/tts/*.mp3
tts/*.mp3
config/core/packages/private
deps
panels
private
www
entity_registry.yaml
config/component/climate/broadlink_climate_codes
config/component/fan/broadlink_fan_codes
config/component/media_player/broadlink_media_codes
